<section>
    <h2>Awards</h2>
    <ul class="awards">
        <% for (const award of awards) { %>
            <li>
                <div class="award-head">
                    <h3><%= award.name %></h3>
                    <span class="dates">
                    <%= award.date %>
                </span>
                    <span class="award-presenter">
                    <%= award.presenter %>
                </span>
                </div>
                <p><%= award.blurb %></p>
                <% if (award.quote) { %>
                    <blockquote>
                        "<%= award.quote %>"
                    </blockquote>
                <% } %>
            </li>
        <% } %>
    </ul>
</section>
