<section>
    <h2>Contact</h2>
    <dl class="contact">
        <dt>Phone</dt>
        <dd><a href="tel:<%= contact.phone %>"><%= contact.phone %></a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:<%= contact.email %>"><%= contact.email %></a></dd>
        <dt>Website</dt>
        <dd><a href="<%= contact.website %>"><%= new URL(contact.website).host %></a></dd>
        <dt>GitHub</dt>
        <dd>
            <a href="<%= contact.github %>">
                <% const githubUrl = new URL(contact.github) %>
                <%= githubUrl.host + githubUrl.pathname %>
            </a>
        </dd>
    </dl>
</section>
