<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f9b28c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f9b28c">

    <meta property="og:description" content="Full Stack Developer and Systems Engineer">
    <meta property="og:title" content="katlyn - Resume">

    <meta name="author" content="katlyn">
    <meta name="description" content="Full Stack Developer and Systems Engineer">
    <meta name="theme-color" content="#b0d2b0">

    <link rel="stylesheet" href="/resume.css">

    <title>Katlyn LAST NAME - Resume</title>
</head>
<body style="--accent: var(--<%= color %>)">
<header>
    <img src="/polyfox.svg" alt="A low poly fox">
    <div>
        <h1>katlyn</h1>
        <span>Full Stack Developer and Systems Engineer</span>
    </div>
</header>
<main>
    <%- include('contact') %>
    <%- include('skills') %>
    <%- include('experience') %>
    <%- include('projects') %>
    <%- include('education') %>
    <%- include('awards') %>
</main>
<footer>
    katlyn - Full Stack Developer and Systems Engineer
    <br>
    <span class="small">Generated from <a href="https://katlyn.dev/resume">katlyn.dev/resume</a></span>
</footer>
</body>
</html>
