<section>
    <h2>Projects</h2>
    <ul class="projects">
        <% for (const project of projects) { %>
            <li>
                <div class="project-head">
                    <h3><%= project.name %></h3>
                    <span class="dates">
                        <% if (project.startDate) { %>
                            <%= project.startDate %> -
                        <% } if (project.endDate) { %>
                            <%= project.endDate %>
                        <% } else { %>
                            Present
                        <% } %>
                    </span>
                    <span class="project-topic">
                        <%= project.topic %>
                    </span>
                    <span class="project-skills"><%= project.skills.join(", ") %></span>
                </div>
                <p><%= project.description %></p>
                <ul class="project-bullets">
                    <% for (const bullet of project.bullets) { %>
                        <li><%= bullet %></li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</section>
